<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.wthymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Bullhorn App</title>
    <th:block th:fragment="headStuff">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</th:block>
</head>
<body>

<div th:fragment="nav">
    <!--<nav class="navbar navbar-expand-sm bg-warning navbar-light">-->
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
        <!--own class navbar another class navbar-expand-sm, and bg-primary and navbar-dark another class-->

        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link text-black" href="/">Welcome <span th:text="${#authentication.name}"></span></a>
            </li>
            <li class="nav-item active" sec:authorize = "!isAuthenticated()">
                <a class="nav-link text-black"   href="/">Home</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()"> <a class="nav-link text-black" href="/register">Register</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()"> <a class="nav-link text-black" href="/add">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()"> <a class="nav-link text-black" href="/logout">Logout</a>
            </li>

        </ul>
    </nav>
</div>
</nav>

<div th:fragment="footer">
    Copyright 2018

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


</div>

</body>
</html>