<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head><th:block th:replace="base:: headStuff"></th:block></head>

<body>
<div th:replace="base:: nav"></div>

<h2>Welcome!</h2>


<!--<a sec:authorize="!isAuthenticated()" class="nav-link text-black" href="/register">New Registration</a>-->

<!--<a sec:authorize="!isAuthenticated()" class="nav-link text-black" href="/login">Login</a>-->

<a sec:authorize="isAuthenticated()" class="nav-link text-black" href="/in">All Messages</a>

<div th:replace="base :: footer"></div>

</body>
</html>